body{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro h1{
    margin: 2px;
    padding: 2px;
    /* color: #094954; */
}

.topic{
    display: flex;
    justify-content: center;
}

.made-by{
    display: grid;
    grid-template-columns: auto auto;
    padding: 2px;
    align-items: center;
    justify-items: center;
}

.section1{
    padding: 14px;
}

.section2{
    padding: 14px;
    margin: 6px;
}

.section3{
    padding: 14px;
    margin: 6px;
}

.repo{
    display: flex;
    justify-content: center;
    align-items: center;
}